[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/xsimd"]
	path = external/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
